@charset "UTF-8";
/* Font*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz a {
  color: black;
  text-decoration: none;
}
.theader {
  position: fixed;
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255, 0);
  justify-content: space-between;
  padding: 0 40px 0 40px;
  z-index: 99999999;
}
.header_logo {
  font-size: 65px;
  font-family: 'Bebas Neue', cursive;
  color: white;
}
.header_menu {
  display: flex;
}
.header_menu a {
  color: white;
  border: 2px solid #e3e3e3;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-bottom: 4px;
  font-weight: bold;
  border-radius: 50%;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tbody {
  width: 100vw;
}
/* 여기서부터 바디 */
.bodySection01 {
  position: relative;
  height: 750px;
  width: 100vw;
  background: url(../img/background01.jpg) no-repeat center center;
  background-size: cover;
}
.bodySection01::before {
  content: '';
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}
.section01_Div {
  width: 800px;
  height: 530px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section01_Div strong {
  font-size: 40px;
  font-weight: 500;
  flex: 1;
}
.section01_Div p {
  font-size: 25px;
  font-weight: 600;
  flex: 1;
}
.section01_Div strong,
p,
.section01_btnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section01_btnDiv {
  width: 100%;
  height: 60px;
  flex: 1;
}
.section01_btnIcon_google > div {
  width: 30px;
  height: 20px;
  background: url(../img/google_icon.png) no-repeat center center;
  font-family: 'Roboto', sans-serif;
  margin-right: 5px;
}
.section01_btnIcon_apple > div {
  width: 30px;
  height: 20px;
  background: url(../img/apple_icon.png) no-repeat center center;
  font-family: 'Roboto', sans-serif;
  margin-right: 5px;
}
.section01_btnDiv a {
  width: 200px;
  height: 60px;
  background-color: rgb(255, 255, 255, 0.2);
  margin: 0 12px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fefefe;
  font-size: 20px;
}
.section01_btnDiv a:hover {
  background-color: #fefefe;
  color: black;
}
.section01_btnIcon_apple:hover > div {
  background: url(../img/apple_icon_hover.png) no-repeat center center;
}
.section01_btnDiv a span {
  padding-bottom: 3px;
}
/* section2 */
.bodySection02 {
  position: relative;
  width: 100vw;
  height: 640px;
  background: url(../img/section02_back1.png) no-repeat center center;
  background-size: cover;
}
.bodySection02_innerDiv {
  width: 1100px;
  height: 640px;
  position: relative;
  margin: 0 auto;
}
.bodySection02_mentDiv {
  position: absolute;
  width: 416px;
  height: 329px;
  top: 137px;
  right: 24px;
  display: flex;
  flex-direction: column;
}
.bodySection02_mentDiv h3 {
  margin-bottom: 20px;
  font-size: 20px;
}
.bodySection02_mentDiv strong {
  margin-bottom: 38px;
  font-size: 60px;
  font-weight: 500;
}
.bodySection02_mentDiv span {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}
.bodySection02_innerDiv > img {
  position: absolute;
  left: 0;
  top: 70px;
  transition: all 1s;
  visibility: hidden;
  opacity: 0;
}
@media (max-width: 1487px) {
  .bodySection02 {
    height: 1000px;
    background: url(../img/iphone_remove_shadow.png) no-repeat;
    background-position: bottom;
  }

  .bodySection02_mentDiv {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .bodySection02_innerDiv > img {
    position: absolute;
    left: 50%;
    bottom: -300px;
    transform: translate(-50%);
  }
}
