@charset "UTF-8";
.theader {
  padding: 5px;
  height: 65px;
}
.header_logo {
  font-size: 50px;
}
.header_menu a {
  padding-bottom: 0px;
  margin: 3px;
}
.bodySection01 {
  height: 520px;
}
.section01_Div {
  width: 400px;
  height: 350px;
}
.section01_Div strong {
  font-size: 35px;
  font-weight: 500;
}
.section01_Div p {
  font-size: 20px;
  margin-top: 50px;
}
.section01_btnDiv {
  width: 100%;
  height: 60px;
  margin: 40px auto 0;
}
.section01_btnDiv a {
  width: 210px;
  height: 60px;
  background-color: rgb(255, 255, 255, 0.2);
  margin: 0 10px;
  border-radius: 60px;
}
